@use "../../../../shared/scss/mixins" as m;
@use "../../../../shared/scss/fontSize" as f;

.EventDiv {
  @include m.box($max-padding: 50px, $grow: 7.5vw);
}

.h2 {
  @include f.responsive-font(20px, f.$font-max-h2, 7.8vw);
}

.h2Small {
  @include f.responsive-font(20px, 30px, 7.8vw);
}

.timeDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 0 60px;

  .dateDiv {
    flex-basis: 188px;
    flex-grow: 1;
  }

  .hourDiv {
    flex-basis: 122px;
    flex-grow: 1;
  }
}

.error {
  @include m.errorMessage();
}

.text {
  margin-bottom: 3vh;
  @include f.responsive-font(f.$font-min-label, f.$font-max-label, f.$font-grow-label);
}
