// text settings
// p
$font-min-p: 13px;
$font-max-p: 15px;
// h2
$font-min-h2: 25px;
$font-max-h2: 40px;
$font-grow-h2: 10vw;
//h3
$font-min-h3: 20px;
$font-max-h3: 30px;
//h4
$font-min-h4: 15px;
$font-max-h4: 25px;
//labeltext
$font-min-label: 14px;
$font-max-label: 18px;
$font-grow-label: 6vw;

//number
$font-min-number: 18px;
$font-max-number: 30px;
$font-grow-number: 6vw;

//input
$font-min-input: 16px;
$font-max-input: 20px;
$font-grow-input: 6vw;

//button
$font-min-b: 14px;
$font-max-b: 20px;
$font-grow-b: 8vw;
//button link
$font-min-bl: 12px;
$font-max-bl: 16px;
$font-grow-bl: 5vw;

@mixin responsive-font($min, $max: false, $responsive: 3vw, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == "vh", "height", "width");
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}
