@use "./fontSize" as f;
@use "./values" as v;
@use "./padding" as p;

@mixin box-shadow() {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

@mixin errorMessage() {
  color: red;
  font-weight: 700;

  @include f.responsive-font(f.$font-min-p, f.$font-max-p);
}

@mixin box($max-padding: p.$padding-max-box, $grow: p.$padding-grow-box) {
  margin: 10vmin auto 0 auto;
  width: 100%;
  max-width: 550px;
  border-radius: v.$borderRadius;
  @include p.responsive-padding(p.$padding-min-box, $max-padding, $grow, p.$padding-verhouding-box);
  @include box-shadow();

  @media (max-width: 560px) {
    width: 100%;
    box-shadow: none;
  }
}
