@use "sass:math";

$padding-max: 45px;
$padding-min: 10px;
$padding-grow: 10vw;

$padding-max-link: 30px;
$padding-min-link: 10px;
$padding-grow-link: 10vw;

$padding-max-delete: 10px;
$padding-min-delete: 0;
$padding-grow-delete: 10vw;
$padding-verhouding-delete: 8/12;

$padding-max-janee: 40px;
$padding-min-janee: 10px;
$padding-grow-janee: 10vw;
$padding-verhouding-janee: 4/12;

$padding-max-box: 40px;
$padding-min-box: 5px;
$padding-grow-box: 5vw;
$padding-verhouding-box: 1/2;

@mixin responsive-padding($min, $max: false, $responsive: 10vw, $verhouding: 6/12, $fallback: false) {
  $responsive-unitless: math.div($responsive, ($responsive - $responsive + 1));
  $dimension: if(unit($responsive) == "vh", "height", "width");
  $min-breakpoint: math.div($min, $responsive-unitless * 100);

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    padding: ($min * $verhouding) $min;
  }

  @if $max {
    $max-breakpoint: math.div($max, $responsive-unitless * 100);

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      padding: ($max * $verhouding) $max;
    }
  }

  @if $fallback {
    padding: $fallback;
  }

  padding: ($responsive * $verhouding) $responsive;
}
