@use "../../../scss/sharedColors" as c;
@use "../../../scss/fontSize" as f;
@use "../../../scss/padding" as p;
@use "../../../scss/values" as v;
@use "../../../scss/mixins" as m;

.Button {
  @include m.btnStandaard();
}

.positive {
  margin: auto 0;
  background-color: green;
  @include p.responsive-padding(
    p.$padding-min-janee,
    p.$padding-max-janee,
    p.$padding-grow-janee,
    p.$padding-verhouding-janee
  );
}

.negative {
  margin: auto 0;
  background-color: red;
  @include p.responsive-padding(
    p.$padding-min-janee,
    p.$padding-max-janee,
    p.$padding-grow-janee,
    p.$padding-verhouding-janee
  );
}

// type: primary
.primary:not([disabled]) {
  background-color: c.$btnPrimBackground;
  color: c.$btnPrimColor;
}

.primary:not([disabled]):focus,
.primary:not([disabled]):hover {
  background-color: c.$btnPrimHoverBackground;
}

// type: secondary
.secondary:not([disabled]) {
  background-color: c.$btnSecColor;
}

.secondary:not([disabled]):focus,
.secondary:not([disabled]):hover {
  background-color: c.$btnSecHoverColor;
}

// type: link
.link:not([disabled]) {
  @include m.link();
}

.link:not([disabled]):focus,
.link:not([disabled]):hover {
  @include m.linkFocus();
}

// type: svg
.svg:not([disabled]) {
  background-color: c.$btnDeleteColor;
  display: block;
  margin: 0;
  @include p.responsive-padding(
    p.$padding-min-delete,
    p.$padding-max-delete,
    p.$padding-grow-delete,
    p.$padding-verhouding-delete
  );
}

.Button:disabled,
.disabledS {
  color: c.$btnDisabledColor;
  background-color: c.$btnDisabledBackgroundColor;
  cursor: not-allowed;
}

.small {
  @include m.small();
}

// delete button
.delete:not([disabled]) {
  background-color: c.$btnDeleteColor;
}

.delete:not([disabled]):focus,
.delete:not([disabled]):hover {
  background-color: c.$btnDeleteHoverColor;
}

// edit button
.edit:not([disabled]) {
  background-color: c.$btnEditColor;
}

.edit:not([disabled]):focus,
.edit:not([disabled]):hover {
  background-color: c.$btnEditHoverColor;
}
