@use "../../../scss/sharedColors" as c;
@use "../../../scss/fontSize" as f;
@use "../../../scss/padding" as p;
@use "../../../scss/values" as v;

.Button {
  margin: 1em auto;
  font-weight: 700;
  border: none;
  border-radius: v.$borderRadius;
  letter-spacing: 0.4px;
  cursor: pointer;
  outline: none;
  @include f.responsive-font(f.$font-min-b, f.$font-max-b, f.$font-grow-b);
  @include p.responsive-padding(p.$padding-min, p.$padding-max, p.$padding-grow);
}

.positive {
  margin: auto 0;
  background-color: green;
  @include p.responsive-padding(
    p.$padding-min-janee,
    p.$padding-max-janee,
    p.$padding-grow-janee,
    p.$padding-verhouding-janee
  );
}

.negative {
  margin: auto 0;
  background-color: red;
  @include p.responsive-padding(
    p.$padding-min-janee,
    p.$padding-max-janee,
    p.$padding-grow-janee,
    p.$padding-verhouding-janee
  );
}

// type: primary
.primary:not([disabled]) {
  background-color: c.$btnPrimBackground;
  color: c.$btnPrimColor;
}

.primary:not([disabled]):focus,
.primary:not([disabled]):hover {
  background-color: c.$btnPrimHoverBackground;
}

// type: secondary
.secondary:not([disabled]) {
  background-color: c.$btnSecColor;
}

.secondary:not([disabled]):focus,
.secondary:not([disabled]):hover {
  background-color: c.$btnSecHoverColor;
}

// type: link
.link:not([disabled]) {
  background-color: c.$btnLinkColor;
  display: block;
  margin-top: 0;
}

.link:not([disabled]):focus,
.link:not([disabled]):hover {
  background-color: c.$btnLinkHoverColor;
}

// type: svg
.svg:not([disabled]) {
  background-color: c.$btnDeleteColor;
  display: block;
  margin: 0;
  @include p.responsive-padding(
    p.$padding-min-delete,
    p.$padding-max-delete,
    p.$padding-grow-delete,
    p.$padding-verhouding-delete
  );
}

.Button:disabled,
.disabledS {
  color: c.$btnDisabledColor;
  background-color: c.$btnDisabledBackgroundColor;
  cursor: not-allowed;
}

.small {
  @include f.responsive-font(f.$font-min-bl, f.$font-max-bl, f.$font-grow-bl);
  @include p.responsive-padding(p.$padding-min-link, p.$padding-max-link, p.$padding-grow-link);
}

// delete button
.delete:not([disabled]) {
  background-color: c.$btnDeleteColor;
}

.delete:not([disabled]):focus,
.delete:not([disabled]):hover {
  background-color: c.$btnDeleteHoverColor;
}

// edit button
.edit:not([disabled]) {
  background-color: c.$btnEditColor;
}

.edit:not([disabled]):focus,
.edit:not([disabled]):hover {
  background-color: c.$btnEditHoverColor;
}
