.nav {
  display: flex;
  flex-direction: row-reverse;
  margin: 1vh 3vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(30px + 5vh);
  background-color: white;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;

  button {
    margin: 0;
  }
}
