@use "../../../../shared/scss/fontSize" as f;
@use "../../../../shared/scss/values" as v;

.DatumDiv {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 3vh auto 0 auto;
  width: 100%;

  .day {
    font-weight: 500;
    margin: 0;
    margin-top: 20px;
    @include f.responsive-font(f.$font-min-label, f.$font-max-label, f.$font-grow-label);
  }

  .date {
    font-weight: 500;
    margin-top: 10px;
    @include f.responsive-font(f.$font-min-number, f.$font-max-number, f.$font-grow-number);
  }
}

.past {
  opacity: v.$opacityPast;
}
