@use "sass:math";
@use "../../../../scss/values" as v;

.loadingDiv {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: v.$widthSpinnerBox;
  height: v.$heightSpinnerBox;
  background-color: white;
  z-index: 100;
  border-radius: 10px;
}
