@use "sass:math";
@use "../../../../scss/values" as v;

.loadingDiv {
  position: absolute;
  left: math.div(calc((100vw - #{v.$widthSpinnerBox})), 2);
  top: math.div(calc((100vh - #{v.$heightSpinnerBox})), 2);
  width: v.$widthSpinnerBox;
  height: v.$heightSpinnerBox;
  background-color: white;
  z-index: 100;
  border-radius: 10px;
}
