@use "../../shared/scss/mixins" as m;

.signupDiv {
  @include m.box();

  h2 {
    margin-bottom: 7vmin;
  }

  .naamDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;

    .halfDiv {
      flex-basis: 220px;
      flex-grow: 1;
    }
  }

  .buttonMargin {
    margin-top: 7vmin;
  }

  .error {
    @include m.errorMessage();
  }
}
