@use "../../../../shared/scss/mixins" as m;
@use "../../../../shared/scss/values" as v;

.CardDiv {
  @include m.box-shadow();
  border-radius: v.$borderRadius;
  width: 90vw;
  max-width: v.$cardWith;
  padding: 2vh 2vw;

  h4 {
    margin-top: 2vh;
    font-weight: 500;
  }
}
