$divHeight: 40px;

.arrowDiv {
  border-radius: 20px;
  height: $divHeight;
  position: fixed;
  bottom: 20px;
  right: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: grey;
  text-align: center;
  vertical-align: middle;
  line-height: $divHeight;
}
