@use "./shared/scss/fontSize" as f;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 10px;
  text-align: center;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: calc(30px + 5vh);
}

footer {
  width: 100%;
  height: calc(18px + 9vh);
}

main {
  height: 100%;
  flex: 1;
}

p {
  max-width: 700px;
  margin: auto;
  @include f.responsive-font(f.$font-min-p, f.$font-max-p);
}

h1 {
  display: none;
}

h2 {
  @include f.responsive-font(f.$font-min-h2, f.$font-max-h2, f.$font-grow-h2);
}

h3 {
  @include f.responsive-font(f.$font-min-h3, f.$font-max-h3);
}

h4 {
  @include f.responsive-font(f.$font-min-h4, f.$font-max-h4);
}

@media (max-width: 500px) {
  body {
    padding: 0;
  }
}
