@use "../../shared/scss/values" as v;
@use "../../shared/scss/mixins" as m;

.verenigingDiv {
  margin: 10vmin auto 0 auto;
  width: 100%;
  max-width: 550px;
  border-radius: v.$borderRadius;
  padding: 20px;
  @include m.box-shadow();

  h2 {
    margin-bottom: 7vmin;
  }

  .naamDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;

    .halfDiv {
      flex-basis: 220px;
      flex-grow: 1;
    }
  }

  .buttonMargin {
    margin-top: 7vmin;
  }

  .error {
    @include m.errorMessage();
  }
}

@media (max-width: 560px) {
  .signupDiv {
    width: 100%;
    box-shadow: none;
    padding: 10px;
  }
}
